<% include ../partials/header %>
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <% if( currentUser ){ %>
                <p>
                    <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
                </p>
                <% } %>
                    <p>
                        <form action="/campgrounds" method="GET" class="form-inline">
                            <div class="form-group">
                                <input type="text" name="search" id="search" placeholder="campground search.." class="form-control">
                                <button class="btn">search</button>
                            </div>
                        </form>
                    </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% if(message){ %>
            <div class="col-md-12">
                <h4><%= message %></h4>
            </div>
            <% } %>
                <% campgrounds.forEach(function(campground){ %>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <img src="<%= campground.image %>">
                            <div class="caption">
                                <h4>
                                    <%= campground.name %>
                                </h4>
                                <a href="campgrounds/<%=campground._id%>" class="btn btn-primary">More Info</a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
    </div>
    <% include ../partials/footer %>